---
// src/pages/index.astro

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ContactForm from '../components/ContactForm.astro';
import '../layouts/global.css';

---

<Navbar />

<main class="container">
  <section id="about">
    <h1 class="font-bold">Visita nuestras redes</h1>
    <li><a href="https://www.instagram.com/castilloclinicadental15?igsh=azJodXVoczZpczly">Visitar perfil</a></li>
  </section>
  <section id="about">
    <h1 class="font-bold">Agenda una cita con nosotros</h1>
    <p>Para agendar una cita o hacer una consulta, completa el siguiente formulario:</p>
    <ContactForm />
  </section>

<section id="contact">
    
  </section>
</main>

<Footer />