---
// src/pages/index.astro

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ContactForm from '../components/ContactForm.astro';
import '../layouts/global.css';
---

<Navbar />

<main class="container">
  <section id="about">
    <h1 >Clinica Dental <strong style="color:#1961a9">Castillo</strong></h1>
    <p>Ofrecemos servicios dentales de alta calidad para toda la familia. Nuestro equipo de profesionales se compromete a cuidar de tu salud dental y a brindarte la mejor atención posible.</p>
  </section>

  <section id="services">
    <h2>Servicios</h2>
    <ul>
      <li>Revisión y Limpieza Dental</li>
      <li>Cirugia Oral</li>
      <li>Odontologia Estetica</li>
      <li>Ortodoncia</li>
      <li>Endodoncia</li>
      <li>Odontopediatria</li>
    </ul>
  </section>

  <section id="contact">
    <h2>Contáctanos</h2>
    <p>Para agendar una cita o hacer una consulta, completa el siguiente formulario:</p>
    <ContactForm />
  </section>
</main>

<Footer />
