---
// src/pages/index.astro

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ContactForm from '../components/ContactForm.astro';
import '../layouts/global.css';

---

<Navbar />

<main class="container">
  <section id="about">
    <h1 class="font-bold">Obten nuestros servicios</h1>
    <li><a href="#imagebutton">Limpieza dental</a></li>
    <li><a href="#imagebutton">Ortodoncia</a></li>
    <li><a href="#imagebutton">Endodoncia</a></li>
    <li><a href="#imagebutton">Odontopediatria</a></li>
    <li><a href="#imagebutton">Cirugia oral</a></li>
  </section>


</main>

<Footer />