---
const interiores = [
  {
    title: "f2",
    image: "/interior/f5.webp",
  },
  {
    title: "f1",
    image: "/interior/f2.webp",
  },
  {
    title: "f3",
    image: "/interior/f7.webp",
  },
  {
    title: "f4",
    image: "/interior/f8.webp",
  },
  {
    title: "f5",
    image: "/interior/f9.webp",
  },
  {
    title: "f6",
    image: "/interior/f10.webp",
  },
  {
    title: "f7",
    image: "/interior/f11.webp",
  },
  {
    title: "f8",
    image: "/interior/f12.webp",
  },
  {
    title: "f9",
    image: "/interior/f13.webp",
  },
  {
    title: "f10",
    image: "/interior/f14.webp",
  },
  {
    title: "f11",
    image: "/interior/f16.webp",
  },
  {
    title: "f12",
    image: "/interior/f17.webp",
  },
];
---

<section id="interior" class="py-20 bg-white">
  <h2 class="text-3xl font-bold text-center mb-4 text-primary" data-aos="fade-down">
    NUESTRAS INSTALACIONES
  </h2>
  <p
    class="text-center mb-12 text-lg max-w-2xl mx-auto text-cyan-700"
    data-aos="fade-up"
    data-aos-duration="1000"
    data-aos-delay="200"
  >
    Contamos con espacios modernos, cómodos y equipados con tecnología de última
    generación para brindarte una experiencia segura y agradable.
  </p>
  <div class="container mx-auto px-4" data-aos="fade-left">
    <div class="swiper clinic-carousel">
      <div class="swiper-wrapper">
        {
          interiores.map((interior) => (
            <div class="swiper-slide">
              <img
                src={interior.image}
                alt="Clínica 1"
                class="w-full h-96 object-cover rounded-lg"
              />
            </div>
          ))
        }
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Pagination, Autoplay } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/pagination";

  new Swiper(".clinic-carousel", {
    modules: [Pagination, Autoplay],
    slidesPerView: 1,
    spaceBetween: 30,
    loop: true,
    autoplay: {
      delay: 2000,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      },
    },
  });
</script>
