---
// src/components/Footer.astro
---

<footer class="container" style="color: #0f3660; text-align: center;">
    <p>© 2023 Clínica Odontológica Castillo. Todos los derechos reservados.</p>
  </footer>
  