<header class="max-w-[1800px] mx-auto p-8 flex justify-between items-center">
    <div class=" flex">

        <img src="/logo-2.svg" alt="logo-1" class="w-auto h-[70px]">
        <img src="/logo-1.svg" alt="logo-2" class="w-auto h-[65px]">
    </div>
    <a class="font-cormo text-lg " href="#">
        SERVICIOS
    </a>
    <a class="font-cormo text-lg" href="#">
        NOSOTROS
    </a>
    <a class="font-cormo text-lg" href="#">
        PACIENTES
    </a>
    <p class="font-cormo text-lg ">
        (+593 98 765 4321)
    </p>
    <a class=" font-cormo text-xl  bg-primary py-2 px-4 text-white hover:contrast-200 transition" href="#">
        Agenda una cita
    </a>
</header>