<section class="relative h-screen bg-black text-white">
  <!-- <div>
    
    <h1 class="text-white">Cuidamos tus dientes</h1>
    <h1 class="text-white">TRAEMOS SONRISAS SANAS</h1>
</div> -->

  <div class="relative container mx-auto px-4 h-full flex items-center">
    <div class="max-w-2xl">
      <h1 class="text-5xl font-bold mb-6">Cuidamos tus dientes</h1>
      <p class="text-3xl mb-8">TRAEMOS SONRISAS SANAS</p>
      <div class="flex gap-4">
        <a
          href="#agendar"
          class="bg-primary hover:contrast-200 text-white px-4 py-2"
        >
          Agenda Ya!
        </a>
        <a
          href="tel:+593987654321"
          class="bg-white hover:bg-gray-100 text-secondary px-4 py-2"
        >
          LLAMA AL +593 98 765 4321
        </a>
      </div>
    </div>
  </div>
</section>
