---
const phoneNumber = "593980497664";
const defaultMessage = "Hola, me gustaría agendar una cita.";
---

<section class="relative h-screen text-white">
  <div class="absolute inset-0 z-0">
    <video autoplay loop muted playsinline class="w-full h-full object-cover" poster="/interior/f8.jpg">
      <source src="/video/video1.mp4" type="video/mp4" />
    </video>
    <div class="absolute inset-0 bg-black/40"></div>
  </div>

  <div class="relative container mx-auto px-4 h-full flex items-center">
    <div class="max-w-2xl">
      <h1 class="text-5xl font-bold mb-6" data-aos="fade-up">Cuidamos tus dientes</h1>
      <p class="text-3xl mb-8" data-aos="fade-up" data-aos-delay="100">TRAEMOS SONRISAS SANAS</p>
      <div class="flex gap-4" data-aos="fade-up" data-aos-delay="200">
        <a
          href={`https://wa.me/${phoneNumber}?text=${encodeURIComponent(defaultMessage)}`}
          target="_blank"
          class="bg-primary hover:contrast-200 text-white px-4 py-2 rounded-full transition-colors"
        >
          Agenda Ya!
        </a>
        <a
          href={`tel:+${phoneNumber}`}
          class="bg-white hover:bg-gray-100 text-secondary px-4 py-2 rounded-full transition-colors"
        >
          LLAMA AL +593 98 049 7664
        </a>
      </div>
    </div>
  </div>
</section>
