---
const services = [
  {
    title: 'ENDODONCIA',
    image: '/services/endodoncia.jpg'
  },
  {
    title: 'ORTODONCIA',
    image: '/services/ortodoncia.jpg'
  },
  {
    title: 'LIMPIEZA DENTAL',
    image: '/services/limpieza-dental.jpg'
  },
  {
    title: 'RESTAURACIONES',
    image: '/services/restauraciones.jpg'
  },
  {
    title: 'PRÓTESIS',
    image: '/services/implantes.jpg'
  },
  {
    title: 'DISEÑO DE SONRISA',
    image: '/services/diseno-sonrisa.jpg'
  }
];
---
<section id="treatments">
  <div class="mx-auto ">
    <h2 class="text-3xl font-bold text-center mb-12">NUESTROS TRATAMIENTOS</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      {services.map(service => (
        <div class="relative group overflow-hidden">
          <img 
            src={service.image} 
            alt={service.title}
            class="w-full h-96 object-cover transition-transform group-hover:scale-110"
          />
          <div class="absolute inset-0 bg-black/50 flex items-end pb-6 pl-6">
            <h3 class="text-white text-4xl ">{service.title}</h3>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>