---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Cuidamos tu sonrisa | Traemos sonrisas sanas"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>{title}</title>
  </head>
  <body>
    <div id="cursor"></div>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline>
      AOS.init({
        duration: 1000,
        once: true,
        offset: 100,
      });

      // Custom cursor
      document.addEventListener("DOMContentLoaded", () => {
        const cursor = document.getElementById("cursor");

        document.addEventListener("mousemove", (e) => {
          cursor.style.left = e.clientX + "px";
          cursor.style.top = e.clientY + "px";
        });

        // Add hover effect for interactive elements
        const interactiveElements = document.querySelectorAll(
          'a, button, input, textarea, [role="button"]'
        );

        interactiveElements.forEach((el) => {
          el.addEventListener("mouseenter", () => {
            cursor.classList.add("cursor-hover");
          });

          el.addEventListener("mouseleave", () => {
            cursor.classList.remove("cursor-hover");
          });
        });
      });
    </script>
  </body>
</html>
<style is:global>
  html,
  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins', sans-serif;
  }
  input:focus-visible,
  select:focus-visible {
    outline: 0;
  }
  #cursor {
    width: 25px;
    height: 25px;
    background: rgba(43, 130, 188, 0.527);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.2s ease;
    transform: translate(-50%, -50%);
  }

  .cursor-hover {
    transform: translate(-50%, -50%) scale(1.5) !important;
    background: rgba(43, 130, 188, 0.527) !important;
  }
  html {
    scroll-behavior: smooth;
  }

  .swiper-pagination-bullet {
    background: #2b82bc !important;
  }
  html {
    scroll-padding-top: 5rem;
  }
  @media (hover: none) {
    #cursor {
      display: none;
    }

    body {
      cursor: auto;
    }
  }
</style>
